<!DOCTYPE html>
<html lang="en">
    <h1>Welcome to TinyApp</h1>
    <h2>We promise to make your url shorter</h2>
    <div><% include partials/_header %></div>
<body>
    <% if(user_id){ %>
      <% include urls_new  %>
      <% for(let i = 0; i < Object.keys(urls[user_id]).length; i++){ %>
        <ul>
            <p style="display: inline; margin-right: 20px;">
               <%= Object.keys(urls[user_id])[i] %>
               ----> <%= Object.values(urls[user_id])[i] %>
               <form method="POST" style="display: inline;" action="/urls/<%= Object.keys(urls[user_id])[i] %>">
                  <input type="submit" value="Update">
               </form>
               <form method="POST" style="display: inline;" action="/urls/<%= Object.keys(urls[user_id])[i] %>/delete">
                  <input type="submit" value="Delete">
               </form>
            </p>
        </ul>
      <% } %>
    <% } %>
</body>
</html>