<!DOCTYPE html>
<html lang="en">
    <h1>Welcome to TinyApp</h1>
    <h2>We promise to make your url shorter</h2>
    <div><% include partials/_header %></div>
<body>
    <% if(user_id){ %>
      <% include urls_new  %>
      <% for(let i = 0; i < Object.keys(urls).length; i++){ %>
        <% if(Object.keys(urls)[i] === user_id){ %>
        <form method="POST" action="/urls/<%= Object.values(urls)[i]['shortURL'] %>/delete"><ul>
            <p>
               <a href='/urls/<%= Object.values(urls)[i]["shortURL"] %>'>
               <%= Object.values(urls)[i]["shortURL"] %></a>
               ----> <%= Object.values(urls)[i]["longURL"] %>
               <input type="submit" value="Delete">
            </p>
        </ul></form>
        <% } %>
      <% }; %>
    <% } %>
</body>
</html>